@use '../../scss/index' as *;

.cv__projects, .cv__university {
  display: flex;
  flex-direction: column;
  margin-left: 60px;

  &-title {
    margin-bottom: 1rem;
    font-size: 22px;
    font-weight: 500;

    font-family: $font-family-comforta;
  }

  &-projects {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &-project {

    &-title {
      display: flex;
      align-items: center;
      gap: 7px;

      span {
        width: 2px;
        height: 12px;
        background: gray;
      }
    }

    &-name {
      font-size: 16px;
      font-weight: 600;

      font-family: $font-family-comforta;
    }

    &-type {
      font-size: 16px;
      font-weight: 500;
    }

    &-timeline {
      display: flex;
      gap: 6px;

      font-size: 12px;
      font-weight: 600;
      margin-top: 3px;
    }

    &-description {
      font-size: 14px;
      color: rgba(0, 0, 0, .88);
      line-height: 20px;
      font-weight: 400;
      margin: 8px 0;
    }

    &-achievements {
      margin-left: 20px;

      &-title {
        margin-bottom: 5px;
      }

      &-list {
        margin-left: 25px;
        list-style-type:square;
        color: rgba(0, 0, 0, .88);

        li {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }


    &-gitHub {
      font-weight: 600;
      font-family: $font-family-comforta;
      a {
        color: $green;
        font-weight: 300;
        text-decoration: underline;
        font-family: $font-family-default;
      }
    }
  }
}

.cv__university {
  &-title {
    margin-top: 2rem;
  }
}