@use '../../scss/index' as *;


.cv__education {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &-title {
    margin-bottom: 0.5rem;
    font-size: 22px;
    font-weight: 500;

    font-family: $font-family-comforta;
  }

  &-degree {
    font-weight: 600;
    font-size: 14px;

    font-family: $font-family-comforta;
  }

  &-school {
    font-weight: 500;
    font-size: 14px;
  }

  &-time {
    font-size: 13px;
    font-weight: 500;

    span {
      user-select: none;
    }
  }
}
