@use '../../scss/index' as *;

.cv__skills {
  margin-bottom: 1rem;
  
  &-title {
    margin-bottom: 1rem;
    font-size: 22px;
    font-weight: 500;

    font-family: $font-family-comforta;
  }
}

.cv__skill-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  &-skill {
    background: #efefef;
    padding: 10px 5px;
    border-radius: 1px;

    font-weight: 500;
    font-size: 14px;
  }
}
