
.cv__languages {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  &-title {
    margin-bottom: 1rem;
    font-size: 24px;
    font-weight: 500;
  }

  &-box {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-lang {
      display: flex;
      gap: 8px;

      span {
        user-select: none;
      }

      .lang {
        font-weight: 500;
      }

      .level {
        font-weight: 400;
      }
    }
  }
}